@model UmiCeramics.Models.Booking

@{
ViewData["Title"] = "Boka plats";
}

<div class="booking-header">

    <span class="section-label">BOKNING</span>

    <h1>Boka din plats</h1>

    <p>
        Fyll i dina uppgifter nedan för att reservera din plats.
    </p>

</div>

<div class="booking-form-card">

    <form asp-action="Create">

        <div asp-validation-summary="ModelOnly"
             class="text-danger">
        </div>

        <div class="form-group">

            <label asp-for="CustomerName">För och Efternamn</label>

            <input asp-for="CustomerName"
                   class="form-control" />

            <span asp-validation-for="CustomerName"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group">

            <label asp-for="CustomerEmail">Email</label>

            <input asp-for="CustomerEmail"
                   class="form-control" />

            <span asp-validation-for="CustomerEmail"
                  class="text-danger">
            </span>

        </div>

        <div class="form-group">

            <label asp-for="NumberOfSeats">Platser</label>

            <input asp-for="NumberOfSeats"
                   class="form-control" />

            <span asp-validation-for="NumberOfSeats"
                  class="text-danger">
            </span>

        </div>

        <input type="hidden"
               asp-for="WorkshopId" />

        <button type="submit"
                class="umi-button">
            Bekräfta bokning
        </button>

    </form>

</div>